input {
    color: #fff;
}

input::input-placeholder {
    color: #9A87C8;
}

input::-webkit-input-placeholder {
    /* Chrome */
    color: #9A87C8;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9A87C8;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #9A87C8;
}

input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9A87C8;
}

.nut-tabbar{
    background-color: #19152D;
    border-bottom:0;
    border-top:1px solid #361E5D;
}

.nut-noticebar__page{
    height: 20px;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 10px;
}

.nut-tabs__titles{
    background-color: #161326;
}

.nut-tab-pane{
    padding: 0;
    background-color: #161326;
}

.nut-form{
    width: 100%;
}

.nut-cell-group__wrap{
    background-color: #161326;
    box-shadow: none;
}

.nut-cell{
    background: #161326;
    line-height: 30px;
}

.nut-input{
    background: #161326;
}

.nut-input--border{
    border-bottom: 0;
}

.nut-cell-group .nut-cell:after{
    border-bottom: 1px solid #382B63;
}

.nut-form-item__body__tips{
    color:#e556ff;
}

.nut-form-item.error.line:before{
    border-bottom: 1px solid #e556ff;
}

.nut-checkbox__icon{
    color:#e556ff;
}

.nut-checkbox__icon--unchecked{
    color:#9a87c8;
}

.nut-tabs__titles{
    background-color: #19142b;
}

.nut-popup{
   background-color: transparent;
}

ul{
    color:#666666;
    font-size: 11px;
    padding-left: 20px;
}



