

input {
    color: #fff;
    background-color: #0f0f0f !important;
}

.nut-input .input-text{
    font-size: 0.361rem;
    font-weight: 600;
}

input::input-placeholder {
    color: #808080;
}

input::-webkit-input-placeholder {
    /* Chrome */
    color: #808080;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #808080;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #808080;
}

input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #808080;
}

textarea::input-placeholder {
    color: #808080;
}

textarea::-webkit-input-placeholder {
    /* Chrome */
    color: #808080;
}

textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #808080;
}

textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #808080;
}

textarea::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #808080;
}

.nut-tabbar{
    background-color: #18171E;
    border-bottom:0;
    border-top:1px solid #361E5D;
}

.nut-tabs__titles{
    background-color: #18171E;
}

.nut-tab-pane{
    padding: 0;
    background-color: #18171E;
}

.nut-form{
    width: 100%;
}

.nut-cell-group__wrap{
    background-color: transparent;
    box-shadow: none;
}

.nut-cell{
    background:transparent;
    line-height: .833rem;
}

.nut-input{
    background:transparent;
}

.nut-input--border{
    border-bottom: 0;
}

.nut-cell-group .nut-cell:after{
    border-bottom: 1px solid #382B63;
}

.nut-form-item__body__tips{
    color:#FF0707;
    font-size: 0.305rem;
}

.nut-form-item.error.line:before{
    border-bottom: 0;
}

.nut-tabs__titles{
    background-color: #18171E;
}

.nut-popup{
   background-color: transparent;
}

.nut-textarea{
    background:#18171E;
}

.nut-textarea__textarea{
    color:#fff;
}

.nut-tabbar-item_icon-box_nav-word{
    font-size: .305rem;
    font-weight: bold;
}

.nut-tabbar-item_icon-box_icon img{
    width: .611rem;
    height: .611rem;
}

.nut-backtop.show{
    background-color: #181b2c;
    border:none;
}

ul{
    color:#666666;
    font-size: .333rem;
    font-weight: 600;
    padding-left: .555rem;
}

.nut-noticebar__page{
    font-size:0.333rem;
    font-weight: bold;
    padding:0;
}

.nut-collapse-item .nut-collapse-item__title{
    background-color: #212121;
    border-radius: 0.194rem;
    font-size: 0.316rem;
    font-weight: bold;
    color:#CCCCCC;
    padding:0.277rem 0.416rem;
}

.nut-collapse-item .nut-collapse__item-wrapper .nut-collapse__item-wrapper__content, .nut-collapse-item .nut-collapse__item-wrapper .nut-collapse__item-extraWrapper__extraRender, .nut-collapse-item .nut-collapse__item-extraWrapper .nut-collapse__item-wrapper__content, .nut-collapse-item .nut-collapse__item-extraWrapper .nut-collapse__item-extraWrapper__extraRender{
    background-color: #212121;
    border-radius: 0.194rem;
    font-size: 0.316rem;
    font-weight: bold;
    color:#CCCCCC;
    padding:0.416rem;
}

.nut-collapse-item .nut-collapse-item__title .nut-collapse-item__title-icon{
    color:#CCCCCC;
}

.nut-progress .nut-progress-outer{
    background-color: #141414;
}

.nut-calendar,.nut-calendar .nut-calendar__header,.nut-calendar .nut-calendar__footer{
    background: #222222;
}

.nut-calendar .nut-calendar__header .nut-calendar__weekdays .nut-calendar__weekday:first-of-type, .nut-calendar .nut-calendar__header .nut-calendar__weekdays .nut-calendar__weekday:last-of-type{
    color:#06a950;
}
.nut-calendar{
    color:#CCCCCC;
}
.nut-calendar .nut-calendar__footer .nut-calendar__confirm,.nut-calendar .nut-calendar__content .nut-calendar__panel .nut-calendar__days .nut-calendar__day--active{
    background: #06a950;
}

.nut-calendar .nut-calendar__content .nut-calendar__panel .nut-calendar__days .nut-calendar__day--choose,.nut-calendar .nut-calendar__content .nut-calendar__panel .nut-calendar__days .nut-calendar__days-item .nut-calendar__day:nth-child(7n+0), .nut-calendar .nut-calendar__content .nut-calendar__panel .nut-calendar__days .nut-calendar__days-item .nut-calendar__day:nth-child(7n+1){
    color:#06a950;
}
.nut-calendar .nut-calendar__content .nut-calendar__panel .nut-calendar__days .nut-calendar__day--choose:after{
    background: #06a950;
    opacity: 0.2;
}

.nut-table__main__head__tr--alignleft, .nut-table__main__head__tr--align, .nut-table__main__body__tr--alignleft, .nut-table__main__body__tr--align{
    color:#999999;
    font-size: 0.277rem;
    font-weight: bold;
    text-align: center;
}

.nut-picker__right{
    color:#06a950;
}

.nut-input-clear{
    color:#898C8D;
}

.nut-progress-text{
    color:#06a950;
}

.nut-image .nut-img-loading, .nut-image .nut-img-error{
    background: transparent;
}
