$bg-color:#151515;
$primary-color:#FFC536;
$icon-color:#C4C3C8;
$color-white:#fff;
$color-black:#181717;
$color-tab-text:#B7B8BD;
$primary-color2:#06a950;
$color-unactive:#808080;
$boder-color:#323136;
$color-sub-text:#E5E5E5;
$bg-color2:#242424;
$bg-color3:#2E2E2E;
